{% if current_user or space.guest_ideas %}
  <h4 class="text--centered">Enter Competition</h4>

  {{ 'flash' | notifications }}

  {% for error in flash %}
      {{ error }}
  {% endfor %}

  {% if idea.errors.size > 0 %}
    <ul class="errors">
      {% for error in idea.errors %}
        <li>
          {% if error == "Title can't be blank" %}
            Email address is required
          {% else %}
            {{ error }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if current_user.ideas.size > 0 %}
    <p class="text--centered">You have already entered this competition.<br>
    <a href="{{ current_user.ideas[0].permalink }}">Check your referrals</a></p>
  {% else %}

    <div class="row">
      <div class="col-sm-6">
        <img src="{{ space.banner_url_pre_entering }}">
      </div>
      <div class="col-sm-6">
        <form action="{{ space.permalink }}/ideas" method="post" enctype="multipart/form-data">
          <input type="hidden" name="idea[title]" value="BLANK">
          <input type="hidden" name="idea[content]" value="BLANK">

          <div class="form-group">
            <label for="idea[custom][forename]">First name</label>
            <input type="text" class="form-control" name="idea[custom][forename]" placeholder="Enter first name" required>
          </div>
          <div class="form-group">
            <label for="idea[custom][surname]">Surname</label>
            <input type="text" class="form-control" name="idea[custom][surname]" placeholder="Enter surname" required>
          </div>
          {% if space.guest_ideas %}
            <div class="form-group">
              <label for="identity[email]">Email</label>
              <input type="email" class="form-control" name="identity[email]" placeholder="Enter email" required>
            </div>
          {% else %}
            <div class="form-group">
              <label for="idea[custom][email]">Email</label>
              <input type="email" class="form-control" name="idea[custom][surname]" placeholder="Enter email" required>
            </div>
          {% endif %}
          {% if space.require_dob == "true" %}
            <div class="form-group">
              <label for="idea[custom][dob]">Date of Birth</label>
              <input type="date" class="form-control" name="idea[custom][dob]" placeholder="Enter DOB" required>
            </div>
          {% endif %}
          {% if space.require_phone_number == "true" %}
            <div class="form-group">
              <label for="idea[custom][phone_number]">Phone number</label>
              <input type="tel" class="form-control" name="idea[custom][phone_number]" placeholder="Enter your phone number" required>
            </div>
          {% endif %}
          {% if space.require_post_code == "true" %}
            <div class="form-group">
              <label for="idea[custom][post_code]">Postcode</label>
              <input type="text" class="form-control" name="idea[custom][post_code]" placeholder="Enter your post code" required>
            </div>
          {% endif %}
          <div class="checkbox">
            <label>
              <input type="checkbox" name="idea[custom][terms]" required> I agree to the <a href="{{space.permalink}}/pages/terms">Terms &amp; Conditions</a>
            </label>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  {% endif %}
{% else %}
  <div class="text--centered">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <h2>{{ space.header_text }}</h2>
      </div>
    </div>
    <br>
    <div>
      <a href="/auth/twitter"><img width="220" src="{{ 'twitter.png'| image_url }}" alt=""></a>
      <a href="/auth/facebook"><img width="220" src="{{ 'facebook.png'| image_url }}" alt=""></a>
      <!-- <a href="/auth/linkedin"><img width="220" src="{{ 'linkedin.png'| image_url }}" alt=""></a> -->
    </div>
    <br>
    <h6>{{ space.footer_text }}</h6>

  </div>
{% endif %}
