<a href="{{space.permalink }}">
  <img src="{{ space.banner_url_post_entering }}">
</a>

<div class="text--centered">
  <h2>{{ space.thankyou_text }}</h2>

  <hr>

  <h4>You have {{ idea.referrals | times:space.multiplier | plus:1 | pluralize: 'entry', 'entries' }} so far. There are {{ space.ideas | size | minus: 1 }} other {{ space.ideas | size | minus: 1 | pluralize_without_count: 'entry' }}.</h4>

  <h6>Want more chances of winning? Spread the word…</h6>

  <br>
  <p class="badge">Share this link</p>
  <pre>http://<script type="text/javascript">document.write(location.host);</script>{{ idea.referral_link }}</pre>

  <div id="fb-root"></div>

  <br>
  <p class="badge">or share to</p>
  <div class="share-bar" data-url="{{ space.permalink }}" data-image-url="http://placehold.it/500x500"></div>
  <br>
  <p>With each referral you will get <b>{{space.multiplier}} more {{ 3 | pluralize_without_count: 'entry' }}</b>.</p>
</div>

<script>
  el =  document.getElementsByClassName("share-bar")[0];
  url = "http://"+location.host+"{{ idea.referral_link }}";
  el.setAttribute("data-title", "{{space.social_messaging}}");
  el.setAttribute("data-url", url);
</script>
